input[type="number"] {
  width: 50%;
  text-align: center;
  border: none;
  background-color: #ff9 !important;
}

input[type="range"] {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  height: 120px;
}

button::-moz-focus-inner {
  border: 0;
}

button {
  outline: none; 
}