.bridge {
  height: 90vh;
  display: grid;
  grid-gap: 16px;
  margin: 8px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    'comms comms comms comms status status status status'
    'sensors sensors sensors sensors warp warp shields shields'
    'sensors sensors sensors sensors torpedos torpedos phasers phasers';
}

.cell {
  border: 1rem solid #f90;
  border-radius: 2rem;
  padding: 4px;
  position: relative;
}

.cell.no-top {
  border-top: none;
}

.cell.no-bottom {
  border-bottom: none;
}

.cell.bracket {
  border-top: none;
  border-bottom: none;
}

.cell-title {
  font-size: 0.75rem;
  position: absolute;
  right: 2rem;
  z-index: 1000;
}

.bridge .comms {
  grid-area: comms;
  overflow: hidden;
  border-right: none;
}

.bridge .sensors {
  grid-area: sensors;
}

.bridge .shields {
  grid-area: shields;
  border-right: none;
}

.bridge .warp {
  grid-area: warp;
  border-right: none;
}

.bridge .status {
  grid-area: status;
  border-right: none;
}

.bridge .phasers {
  grid-area: phasers;
  border-right: none;
}

.bridge .torpedos {
  grid-area: torpedos;
  border-right: none;
}

.bridge .flex-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

button {
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 2rem;
  font-size: 0.8rem;
}

.headingGrid {
  display: grid;
  grid-template-columns: 2em 2em 2em;
  grid-template-rows: 2em 2em 2em;
}
