.lcars-gray-bg {
  background-color: rgba(34, 51, 85, 0.467);
}
.lcars-white-bg {
  background-color: #fff;
}
.lcars-black-bg {
  background-color: #000;
}
.lcars-pale-canary-bg {
  background-color: #ff9;
}
.lcars-golden-tanoi-bg {
  background-color: #fc6;
}
.lcars-neon-carrot-bg {
  background-color: #f93;
}
.lcars-eggplant-bg {
  background-color: #646;
}
.lcars-lilac-bg {
  background-color: #c9c;
}
.lcars-anakiwa-bg {
  background-color: #9cf;
}
.lcars-mariner-bg {
  background-color: #36c;
}
.lcars-bahama-blue-bg {
  background-color: #069;
}
.lcars-red-alert-bg {
  background-color: #e10;
}
.lcars-blue-bell-bg {
  background-color: #99c;
}
.lcars-melrose-bg {
  background-color: #99f;
}
.lcars-hopbush-bg {
  background-color: #c69;
}
.lcars-chestnut-rose-bg {
  background-color: #c66;
}
.lcars-orange-peel-bg {
  background-color: #f96;
}
.lcars-atomic-tangerine-bg {
  background-color: #f90;
}
.lcars-danub-bg {
  background-color: #68c;
}
.lcars-indigo-bg {
  background-color: #45b;
}
.lcars-lavender-purple-bg {
  background-color: #97a;
}
.lcars-cosmic-bg {
  background-color: #746;
}
.lcars-red-damask-bg {
  background-color: #d64;
}
.lcars-medium-carmine-bg {
  background-color: #a53;
}
.lcars-bourbon-bg {
  background-color: #b62;
}
.lcars-sandy-brown-bg {
  background-color: #e95;
}
.lcars-periwinkle-bg {
  background-color: #cdf;
}
.lcars-dodger-blue-bg {
  background-color: #59f;
}
.lcars-dodger-blue-alt-bg {
  background-color: #36f;
}
.lcars-blue-bg {
  background-color: #01e;
}
.lcars-navy-blue-bg {
  background-color: #008;
}
.lcars-husk-bg {
  background-color: #ba5;
}
.lcars-rust-bg {
  background-color: #b41;
}
.lcars-tamarillo-bg {
  background-color: #821;
}
.lcars-gray-border {
  border-color: rgba(34, 51, 85, 0.467);
}
.lcars-white-border {
  border-color: #fff;
}
.lcars-black-border {
  border-color: #000;
}
.lcars-pale-canary-border {
  border-color: #ff9;
}
.lcars-golden-tanoi-border {
  border-color: #fc6;
}
.lcars-neon-carrot-border {
  border-color: #f93;
}
.lcars-eggplant-border {
  border-color: #646;
}
.lcars-lilac-border {
  border-color: #c9c;
}
.lcars-anakiwa-border {
  border-color: #9cf;
}
.lcars-mariner-border {
  border-color: #36c;
}
.lcars-bahama-blue-border {
  border-color: #069;
}
.lcars-red-alert-border {
  border-color: #e10;
}
.lcars-blue-bell-border {
  border-color: #99c;
}
.lcars-melrose-border {
  border-color: #99f;
}
.lcars-hopbush-border {
  border-color: #c69;
}
.lcars-chestnut-rose-border {
  border-color: #c66;
}
.lcars-orange-peel-border {
  border-color: #f96;
}
.lcars-atomic-tangerine-border {
  border-color: #f90;
}
.lcars-danub-border {
  border-color: #68c;
}
.lcars-indigo-border {
  border-color: #45b;
}
.lcars-lavender-purple-border {
  border-color: #97a;
}
.lcars-cosmic-border {
  border-color: #746;
}
.lcars-red-damask-border {
  border-color: #d64;
}
.lcars-medium-carmine-border {
  border-color: #a53;
}
.lcars-bourbon-border {
  border-color: #b62;
}
.lcars-sandy-brown-border {
  border-color: #e95;
}
.lcars-periwinkle-border {
  border-color: #cdf;
}
.lcars-dodger-blue-border {
  border-color: #59f;
}
.lcars-dodger-blue-alt-border {
  border-color: #36f;
}
.lcars-blue-border {
  border-color: #01e;
}
.lcars-navy-blue-border {
  border-color: #008;
}
.lcars-husk-border {
  border-color: #ba5;
}
.lcars-rust-border {
  border-color: #b41;
}
.lcars-tamarillo-border {
  border-color: #821;
}
.lcars-gray-color {
  color: rgba(34, 51, 85, 0.467);
}
.lcars-white-color {
  color: #fff;
}
.lcars-black-color {
  color: #000;
}
.lcars-pale-canary-color {
  color: #ff9;
}
.lcars-golden-tanoi-color {
  color: #fc6;
}
.lcars-neon-carrot-color {
  color: #f93;
}
.lcars-eggplant-color {
  color: #646;
}
.lcars-lilac-color {
  color: #c9c;
}
.lcars-anakiwa-color {
  color: #9cf;
}
.lcars-mariner-color {
  color: #36c;
}
.lcars-bahama-blue-color {
  color: #069;
}
.lcars-red-alert-color {
  color: #e10;
}
.lcars-blue-bell-color {
  color: #99c;
}
.lcars-melrose-color {
  color: #99f;
}
.lcars-hopbush-color {
  color: #c69;
}
.lcars-chestnut-rose-color {
  color: #c66;
}
.lcars-orange-peel-color {
  color: #f96;
}
.lcars-atomic-tangerine-color {
  color: #f90;
}
.lcars-danub-color {
  color: #68c;
}
.lcars-indigo-color {
  color: #45b;
}
.lcars-lavender-purple-color {
  color: #97a;
}
.lcars-cosmic-color {
  color: #746;
}
.lcars-red-damask-color {
  color: #d64;
}
.lcars-medium-carmine-color {
  color: #a53;
}
.lcars-bourbon-color {
  color: #b62;
}
.lcars-sandy-brown-color {
  color: #e95;
}
.lcars-periwinkle-color {
  color: #cdf;
}
.lcars-dodger-blue-color {
  color: #59f;
}
.lcars-dodger-blue-alt-color {
  color: #36f;
}
.lcars-blue-color {
  color: #01e;
}
.lcars-navy-blue-color {
  color: #008;
}
.lcars-husk-color {
  color: #ba5;
}
.lcars-rust-color {
  color: #b41;
}
.lcars-tamarillo-color {
  color: #821;
}
